@use "/src/scss/colors";

.Container {
   margin-top: 30px;

   .Table {
      width: 100%;
      border-spacing: 0;

      .TableHead {
         border-radius: 7px 7px 0px 0px;
         border: colors.$border;
         background: #f4f4f4;
         height: 50px;

         .TableHeadRow {
            border-radius: 7px 7px 0px 0px;
            border: colors.$border;

            th {
               border-top: colors.$border;
               border-bottom: colors.$border;
            }

            & :nth-child(1) {
               width: 114px;
               text-align: left;
               border-radius: 7px 0 0 0;
               border-left: colors.$border;
               padding-left: 30px;
            }

            & :nth-child(2) {
               width: 324px;
               padding-left: 48px;
               text-align: left;
            }
            & :nth-child(3) {
               text-align: right;
               width: 299px;
               padding-right: 79px;
            }

            & :nth-child(4) {
               text-align: right;
               width: 239px;
            }
            & :nth-child(5) {
               margin-right: 75px;
               border-radius: 0 7px 0 0;
               border-right: colors.$border;
            }
         }
      }

      .TableBody {
         .TableBodyRow {
            td {
               border-bottom: 1px solid #dedede;
               height: 84px;
            }

            & :nth-child(1) {
               text-align: left;

               img {
                  margin-left: 30px;
                  width: 40px;
                  height: 40px;
                  border-radius: 7px;
               }
            }
            & :nth-child(2) {
               width: 324px;
               padding-left: 48px;
               text-align: left;
               font-style: normal;
               font-weight: 700;
               font-size: 15px;
               line-height: 22px;
               color: #1f1f1f;
            }
            & :nth-child(3) {
               font-style: normal;
               font-weight: 500;
               font-size: 15px;
               line-height: 22px;
               color: #fd9330;
            }

            .ThirdOne {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: flex-end;
               text-align: right;
               width: 299px;
               padding-right: 79px;

               .UsdPrice {
                  text-align: right;
               }
            }
            & :nth-child(4) {
               text-align: right;
               width: 320px;
               font-style: normal;
               font-weight: 500;
               font-size: 15px;
               line-height: 22px;
               color: #1f1f1f;
            }
            & :nth-child(5) {
               text-align: left;
               width: 170px;

               .BtnCancel {
                  margin-left: 40px;
                  border: 1px solid #ff006b;
                  border-radius: 7px;
                  background-color: transparent;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 22px;
                  text-align: center;
                  color: #ff006b;

                  &:hover {
                     background: #ff006b;
                     border: 1px solid #d1d1d1;
                     box-shadow: 8px 8px 25px 6px rgba(0, 0, 0, 0.1);
                     border-radius: 7px;
                     color: #ffffff;
                  }
               }
            }
         }
      }
   }
}
