@use '/src/scss/colors';

.img {
  border-radius: 50%;
  margin: 0 15px;
}

.percent {
  &.up {
    color: colors.$success;
    &::before {
      content: '+';
    }
  }
  &.down {
    color: colors.$primary;
    &::before {
      content: '-';
    }
  }
}
