.container {
  background-image: url('/src/assets/images/collections-bg1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  padding: 60px 85px;
  border-radius: 0;
  color: #fff;
}
