@use "/src/scss/colors";

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(27, 27, 27, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0;

  .CloseIconBox {
    width: 40px;
    height: 40px;
    background-color: rgb(31, 31, 31);
    border-radius: 25%;
    position: fixed;
    top: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .closeIcon {
    width: 30px;
    height: 30px;
    color: #fff;
  }

  .modal {
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    min-width: 480px;

    @media (max-width: 600px) {
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
    }

    &.expanded {
      background-color: transparent;
      width: 794px;
      height: 80vh;

      img {
        object-fit: contain;
      }
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        width: 113px;
        padding: 62px 0 46px;
      }
    }

    .body {
    }

    .footer {
      .btn {
        border-radius: 0;
        padding: 16px 0;
      }
    }
  }

  .RotateBox {
    position: fixed;
    bottom: 45px;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: rgb(31, 31, 31);
    border-radius: 25%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}
