@use '/src/scss/colors';
@import '/src/styles/fonts';

.container {
  padding: 90px 0;

  @media (max-width: 600px) {
    padding: 30px 0;
  }

  .img {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;

    border: 1px solid colors.$icon;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;

    .soldImg {
      position: absolute;
      bottom: 0;
      opacity: 0.6;
      background: #1f1f1f;
      z-index: 12;
      width: 100%;
      height: 554px;
    }

    img {
      object-fit: cover;
      border-radius: 0 !important;
      padding: 0;
      margin: 0;
    }

    span {
      font-weight: 600;
      color: colors.$text;
      cursor: pointer;
      transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s all;

      &.active {
        color: colors.$primary;
      }

      &:hover {
        color: colors.$primary;
      }

      svg {
        margin-left: 5px;
      }
    }
  }

  .link {
    color: #515151;
    text-decoration: underline;

    @include fontBodyXS;
  }
}
