.CTableContainer {
  width: 100%;

  .table {
    width: 100%;
    border-radius: 8px;
    position: relative;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }
  }
}

.CTableHead {
  background: #f4f4f4;
  tr {
    outline: 1px solid #dedede;
    border-radius: 7px 7px 0px 0px !important;
    td {
      &:first-child {
        border-top-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        text-align: right;
      }
    }
  }
  tr td {
    font-weight: bold;
  }
}

.CTableCell {
  padding: 16px;
}

.CTableRow {
  cursor: pointer;
  transition-duration: 0.2s;
  td {
    border-bottom: 1px solid #dedede !important;

    &:last-child {
      text-align: right;
    }
  }

  &:hover {
    background: #ffffff;
    box-shadow: -1px 1px 16px 7px rgba(0, 0, 0, 0.06);
  }
}

.CTableBody {
  position: relative;
  z-index: 1;
}
