@use '/src/scss/colors';
@import '../../styles/scrollbar.scss';

.Test {
  .InputText {
    padding-left: 8px;
    display: flex;
    align-items: center;
  }
}

.ArtistInput {
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    /*styles here*/
    color: colors.$text;
    width: 650px;
  }

  .ArtistInputText {
    background: #f3f3f3;
    border: 1.5px solid #e8e8e8;
    border-radius: 7px;
    width: 650px;
    height: 45px;
    padding: 11px 2px 11px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1f1f1f;
    width: 100%;
    &:focus {
      outline: none;
      border: 1.5px solid colors.$text;
    }
    @media (max-width: 600px) {
      max-width: 335px;
      height: 45px;
    }
  }
  .SmWalletInputText {
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
  .DescriptionInput {
    //height: 185px;
    height: auto;
    resize: none;
    @include scrollbar;
  }
}
.ArtistsInput {
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    /*styles here*/
    color: colors.$text;
    width: 650px;
  }

  .ArtistsInputText {
    background: #f3f3f3;
    border: 1.5px solid #e8e8e8;
    border-radius: 7px;
    width: 650px;
    height: 45px;
    padding: 11px 2px 11px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1f1f1f;
    &:focus {
      outline: none;
      border: 1.5px solid colors.$text;
    }
    @media (max-width: 600px) {
      max-width: 335px;
      height: 45px;
    }
  }
  .SmWalletInputText {
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
  .DescriptionInput {
    //height: 185px;
    height: auto;
    resize: none;
    @include scrollbar;
  }
}

.CollectionEdit {
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari/Edge */
    /*styles here*/
    color: colors.$text;
  }
  .ArtistInputText {
    background: #7d8890;
    border: none;
    border-radius: 7px;
    width: 650px;
    height: 45px;
    padding: 11px 2px 11px 15px;

    // input text
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #ffffff;

    &:focus {
      outline: none;
      border: 1.5px solid colors.$text;
    }
  }
  .DescriptionInput {
    height: 185px;
    resize: none;
    @include scrollbar;
  }
}

.ExpandableOption {
  width: 430px;

  .ArtistInputText {
    width: 508px;
  }
}
