.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  @media (max-width: 600px) {
    padding: 0;
  }

  .header {
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-end;

      form {
        width: 100%;

        form {
          display: flex;
          width: 100%;
        }
      }
    }

    .selecBox {
      @media (max-width: 600px) {
        width: 220px;
        margin-top: 15px;
        margin-right: 5px;
      }
    }

    .select {
      width: 140px;
      margin-left: 10px;
    }
  }
}
