.wrapper {
  width: 100%;
  height: 700px;
  background: url('../../../assets/images/hero-bg1.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
  }
}
