@use "/src/scss/colors";
@import "/src/styles/fonts";

.Container {
  margin-top: 25px;

  .NoItemsContainer {
    width: 100%;
    padding-top: 154px;
    text-align: center;

    .NoItemsText {
      @include fontProcessDesc;
      text-align: center;
      color: colors.$text;
    }
  }

  .Title {
    font-style: normal;
    @include userText;
    color: colors.$greyBg;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
