.box {
  margin-top: 75px;
  @media (max-width: 600px) {
    margin-top: 25px;
  }
  .title {
    background: #f4f4f4;
    border: 1px solid #dedede;
    border-radius: 7px 7px 0px 0px;
    padding: 11px 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  .info {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 25px;
    border-bottom: 1px solid #dedede;
    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #1f1f1f;
      a {
        color: #1e4ced;
      }
    }
    .label {
      width: 150px;
    }
    .value {
      width: calc(100% - 150px);
    }
  }
}
