// 100 - 300 UNUSED
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');

:root {
  --background: #f3f7ff;
  --black: #3a3a3a;
  --white: #fff;
  --off-white: #dbf2ff;
  --middle-blue-grey: #80a0d4;
  --main-blue: #5f93f1;
  --sea-blue: #48afe8;
  --teal: #64c2d1;
  user-select: none;

  // UNUSED
  --main-gradient: linear-gradient(244.5deg, #48afe8 12.9%, #317eff 85.63%);
  --second-gradient: linear-gradient(244.5deg, #317eff 12.9%, #80a0d5 85.63%);
  --warning-bg-color: #fcfc93;
  --warning-text-color: #888826;
  --box-shadow: 0 2px 10px 2px #ababab66;

  // GREYS
  --grey1: #f7f7f7;
  --grey2: #efefef;
  --grey3: #ececec;
  --grey4: #e7e7e7;
  --grey5: #d7d7d7;
  --grey6: #c7c7c7;
  --grey7: #b7b7b7;
  --grey8: #a8a8a8;
  --grey9: #989898;
  --grey10: #888888;
  --grey11: #787878;
  --grey12: #686868;
  --grey13: #585858;

  // UNUSED
  --grey14: #474747;
  --grey15: #373737;
  --grey16: #262626;
}

html,
body {
  color: var(--font-color);
  font-family: Barlow, Teko, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;

  @media only screen and (max-width: 1240px) {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
