@use "/src/scss/colors";
@import "/src/styles/fonts";

.Container {
   margin-top: 25px;

   .Title {
      font-style: normal;
      @include userText;
      font-weight: 700;
      color: colors.$greyBg;
      margin-bottom: 20px;
   }
}
