.container {
  padding: 90px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .field {
      width: 100%;
      margin-top: 45px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
  }
}
