.FileUploadWithDrag {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  .dropzone {
    width: 100%;
    cursor: pointer;
    position: static;
    height: 164px;
    left: 0px;
    top: 0px;
    border: 1px dashed #d5dadd;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.error {
      border: 1px dashed rgba(247, 102, 89, 1);
    }

    .dropzoneIcon {
      color: rgb(29, 29, 138);
      font-size: 50px;
    }

    .LogoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6.29px;

      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height */
      text-align: center;
      /* sub */
      color: #7d8890;
    }

    .dropzoneIitle {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 8px 0;
      color: #6b6966;
    }

    .button {
      .btn-title {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: center;
      }
    }
  }
}

.BackImg {
  background-image: url("https://images.unsplash.com/photo-1656504020198-7eb1a82027f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.FileUploadCreateCollection {
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  width: 140px;

  .dropzone {
    position: relative;
    cursor: pointer;
    // position: static;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    border: 1px dashed #d5dadd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .DownCover {
      position: absolute;
      bottom: 1rem;
      background-color: rgb(180, 180, 180);
      height: 3rem;
      margin-bottom: -0.97rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      padding-top: 2px;
    }

    &.error {
      border: 1px dashed rgba(247, 102, 89, 1);
    }

    .dropzone-icon {
      color: #6b6966;
      font-size: 50px;
    }

    .dropzone-title {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 8px 0;
      color: #6b6966;
    }

    .button {
      .btn-title {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: center;
      }
    }
  }
}
