@use "/src/scss/colors";
@import "../../styles/fonts";

.FileUploadWithDrag {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  .dropzone {
    width: 100%;
    cursor: pointer;
    position: static;
    height: 140px;
    left: 0px;
    top: 0px;
    border: 1px dashed colors.$dropzoneMain;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.error {
      border: 1px dashed colors.$dropzoneBorder;
    }

    .dropzoneIcon {
      color: colors.$dropzoneIconColor;
      font-size: 50px;
    }

    .LogoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6.29px;
      font-style: normal;
      @include fontLabel;
      text-align: center;
      color: colors.$text;

      .HoveredContainer {
        background: #0e0e0e;
        width: 140px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none !important;

        .EditVector {
          position: absolute;
        }
      }
    }

    .dropzoneIitle {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 8px 0;
      color: colors.$dropzoneIconColor;
    }

    .button {
      .btn-title {
        font-style: normal;
        @include fontBodyXL;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: center;
      }
    }
  }

  .DropZoneHeight {
  }
}

.BackImg {
  background-image: url("https://images.unsplash.com/photo-1656504020198-7eb1a82027f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.FileUploadCreateCollection {
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  width: 140px;

  .dropzone {
    position: relative;
    cursor: pointer;
    // position: static;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    border: 1px dashed colors.$dropzoneMain;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
      border: 1px dashed colors.$text;
    }

    .DownCover {
      position: absolute;
      bottom: 1rem;
      background-color: rgb(180, 180, 180);
      height: 3rem;
      margin-bottom: -0.97rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      padding-top: 2px;
    }

    &.error {
      border: 1px dashed colors.$dropzoneBorder;
    }

    .dropzone-icon {
      color: colors.$dropzoneIconColor;
      font-size: 50px;
    }

    .dropzone-title {
      @include fontBodyXXL;
      line-height: 24px;
      text-align: center;
      margin: 8px 0;
      color: colors.$dropzoneIconColor;
    }

    .button {
      .btn-title {
        font-style: normal;
        @include fontBodyXL;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: center;
      }
    }
  }
}

.UploadLogo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;

  & > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed colors.$dropzoneMain;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .ClearLogo {
      position: absolute;
      right: 15%;
      top: 15%;
      z-index: 10;
      color: colors.$primary;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 25px;
    }
  }

  .HoverLogoContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.29px;
    width: 100%;
    height: 105%;
    background: rgba(31, 31, 31, 0.45);
    font-style: normal;
    font-weight: 600;
    @include fontProcessDesc;
    text-align: center;
    color: colors.$whiteBg;
  }
}

.FileUploadCreateNft {
  box-sizing: border-box;
  position: relative;
  width: 500px;
  height: 500px;
  background: colors.$whiteBg;
  border-radius: 7px;
  border: 2px dashed #d9d9d9;

  .dropzone {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: static;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dropzoneIcon {
      color: colors.$dropzoneIconColor;
      font-size: 50px;
    }

    .LogoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6.29px;
      font-style: normal;
      @include fontLabel;
      text-align: center;
      color: colors.$text;
      border: none;
    }

    .dropzoneTitle {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: colors.$text;
    }

    .button {
      .btn-title {
        font-style: normal;
        @include fontBodyXL;
        line-height: 24px;
        letter-spacing: -0.006em;
        text-align: center;
      }
    }

    .UploadLogo {
      width: 100%;
      height: 100%;
      border-radius: 7px;
      position: relative;

      & > div {
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;

        img {
          border-radius: 7px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: none;
        }

        .ClearLogo {
          position: absolute;
          right: 15%;
          top: 15%;
          z-index: 10;
          color: colors.$primary;
          border-radius: 7px;
          border: none;

          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-weight: bold;
          font-size: 25px;
        }
      }

      .HoverLogoContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6.29px;
        width: 100%;
        height: 100%;
        background: #1f1f1f;
        opacity: 0.6;
        border-radius: 7px;
        font-style: normal;
        font-weight: 600;
        @include fontProcessDesc;
        text-align: center;
        color: colors.$whiteBg;
        border: none;
      }
    }
  }
}
.EditIconsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .EditCollectionHover {
    position: absolute;
  }

  .EditVector {
    position: absolute;
  }

  .DropZoneHeight {
  }

  &:hover {
    background: #f3f3f3;
    border: 2px dashed #7d8890;
  }
}

.InvalidBoxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13.2px;

  .InvalidPhrase {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: colors.$errorColor;
  }
}

.GreyBorder {
  border: 2px dashed #d9d9d9;
}

.RedBorder {
  border: 2px dashed colors.$errorColor;
}

.BorderNone {
  border: none;
}
