@use '/src/scss/colors';

.header {
  height: 56px;
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .leftSide {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    .search {
      margin-left: 50px;
      position: relative;

      .result {
        position: absolute;
        top: 120%;
        width: 100%;
      }
    }

    .icon {
      font-size: 22px;
      margin-right: 8px;
      color: colors.$primary;
    }

    .titleBlock {
      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }

      .subtitle {
        font-size: 15px;
        font-weight: 500;
        color: gray;
      }
    }

    .line {
      height: calc(100% - 32px);
      width: 1px;
      background-color: colors.$borders;
      margin: 0 24px;
    }
  }

  .rightSide {
    display: flex;
    align-items: center;
    .links {
      margin: 0 10px;
    }
  }
}
