.container {
  overflow: hidden;
  background-image: url('/src/assets/images/collection-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 70px 0;
  h2 {
    font-family: 'Poppins', sans-serif !important;
  }
  .block {
    margin-top: 40px;
    .collection {
      margin: 20px 0;
      .card {
        padding: 0 10px;
      }
    }
  }
}
