.container {
  overflow: hidden;
  background-image: url('/src/assets/images/collection-bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 70px 0;
  h2 {
    font-family: 'Poppins', sans-serif !important;
  }
  .block {
    margin-top: 40px;
    .collection {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      .card {
        margin: 0 12px;
      }
      .card_item {
        width: calc(100% - 24px) !important;
      }
    }
  }
}
