@use '/src/scss/colors';

.layout {
}
.navList {
  display: flex;
  align-items: center;
}
.navItem {
  white-space: nowrap;
  a {
    color: white;
  }
}

.profile {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
