@use '../../scss/colors';
@import '../../styles/fonts';

.card {
  display: flex;
  flex-direction: column;
  min-height: 433px;
  height: 100%;
  position: relative;
  &.default {
    width: 292px;
  }

  &.minified {
    // height: 378px !important;

    // .wrapper {
    //   border-radius: 0px 0px 7px 7px;
    //   overflow: hidden;
    // }
  }

  .originalIcon {
    position: absolute;
    top: -4px;
    right: -4px;
    z-index: 2;
  }
  .header {
    position: relative;
    width: 100%;
    min-height: 292px;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .imgSkeleton {
      background-color: #eeeeee;
      width: 100%;
      height: 292px;
    }

    img {
      transition: 0.4s ease-in-out all;
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 292px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    .badge {
      display: flex;
      align-items: flex-start;
      column-gap: 10px;
      top: 10px;
      left: 10px;
      position: absolute;
      .quantity {
        background: colors.$greyBg;
        border: 1px solid #444444;
        border-radius: 3px;
        width: 60px;
        padding: 4px 10px;
        font-weight: 600;
        @include fontBodyXSS;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .price_type {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 13px;
        left: 13px;
        background-color: colors.$greyBg;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        @include fontBodyXSS;
      }
    }

    .leftDays {
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px;
      @include fontBodyXL2;
      font-weight: 700;

      .icon {
        font-size: 15px;
        margin-right: 5px;
        color: colors.$primary;
      }
    }

    .numberPlate {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 13px;
      left: 13px;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid #444444;
      border-radius: 7px;
      width: 60px;
      height: 29px;

      span {
        @include fontLabel;
        text-align: center;
        color: colors.$whiteBg;
      }
    }
  }
  .wrapper {
    box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #fff;

    &.noShadow {
      box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.03) !important;
    }

    .body {
      display: flex;
      padding: 10px 13px;
      background-color: #fff;

      .artist,
      .actions {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .artist {
        width: 70%;

        .name {
          @include fontBodyXS;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: #1f1f1f;
        }

        span:last-child {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #7d8890;
          height: 45px;
        }
      }

      .actions {
        width: 30%;
        justify-content: space-between;

        .count {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          span {
            margin-right: 5px;
            @include fontBodyXS;
            font-weight: 600;
            color: colors.$text;
          }
          .LikeSvg {
            display: flex;
          }

          svg {
            font-size: 16px;
            font-weight: 600;
            color: colors.$text;
          }

          &:hover {
            span {
              color: colors.$primary;
            }

            svg {
              color: colors.$primary;
            }
          }
        }

        .count.liked {
          span {
            color: colors.$primary;
          }

          svg {
            color: colors.$primary;
          }
        }
      }
    }

    .price {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 4px 13px 8px 13px;
      height: 24px;
      color: #000000;

      @include fontBodyXXL;
      font-weight: 600;

      img {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin-right: 5px;
      }

      .coin {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }

    .footer {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      height: 55px;
      background-color: #fff;

      button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
        font-weight: 600;
      }

      .aboutBtn {
        background: linear-gradient(274.8deg, #ff006b 8.27%, #1e4ced 120.26%);
      }
    }
  }

  .footerSkeleton {
    height: 55px;
    width: 100%;
    background-color: #eeeeee;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

.CollectedCard {
  background: #ffffff;
  border-radius: 7px;
}
