@use "../../scss/colors";
@import "../../styles/fonts";

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  .header {
    position: relative;
    width: 100%;
    height: 67%;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .imgSkeleton {
      background-color: #eeeeee;
      width: 100%;
      height: 292px;
    }

    img {
      transition: 0.4s ease-in-out all;
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: 292px;
    }

    .price_type {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: colors.$greyBg;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      @include fontBodyXSS;
    }

    .leftDays {
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px;
      @include fontBodyXSS;

      .icon {
        font-size: 15px;
        margin-right: 5px;
        color: colors.$primary;
      }
    }
  }

  .body {
    display: flex;
    padding: 10px 13px;
    background-color: #fff;

    &.last {
      border-radius: 0 0 7px 7px;
    }

    .artist,
    .actions {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .artist {
      width: 70%;

      .name {
        @include fontBodyXS;
        font-weight: 500;
        color: colors.$text;
      }
    }

    .actions {
      width: 30%;
      justify-content: space-between;

      .count {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;

        span {
          margin-right: 5px;
          @include fontBodyXS;
          font-weight: 600;
          color: colors.$text;
        }

        svg {
          font-size: 16px;
          font-weight: 600;
          color: colors.$text;
        }

        &:hover {
          span {
            color: colors.$primary;
          }

          svg {
            color: colors.$primary;
          }
        }
      }

      .count.liked {
        span {
          color: colors.$primary;
        }

        svg {
          color: colors.$primary;
        }
      }

      .price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 40px;

        @include fontBodyXXL;
        font-weight: 600;

        img {
          width: 16px;
          height: 16px;
          border-radius: 8px;
          margin-right: 5px;
        }
      }
    }
  }

  .footerSkeleton {
    height: 55px;
    width: 100%;
    background-color: #eeeeee;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .footer {
    button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 10px;
      font-weight: 600;
    }
  }
}

.CollectedCard {
  background: #ffffff;
  box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
