@use "/src/scss/colors";
@import "/src/styles/fonts";

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 180px;

  .FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;

    .Title {
      height: 60px;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: #1f1f1f;
      margin-bottom: 68px;
    }

    .ModeContainer {
      display: flex;
      gap: 92px;
      margin-bottom: 70px;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & :nth-child(1) {
          font-weight: bold;
        }
      }

      .SingleMode {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 18px;
      }

      .MultipleMode {
        .MultipleModeContainer {
          position: relative;
          width: 192px;
          height: 243px;

          .FirstItem {
            position: absolute;
            z-index: 200;
            bottom: 0;
            left: 0;

            .TopIContainer {
              background: linear-gradient(
                171.69deg,
                #ff006b 16.37%,
                #1e4ced 89.07%
              );
            }
          }
          .SecondItem {
            z-index: 199;
            position: absolute;
            // top: 0;
            left: 6px;
            bottom: 6px;

            .TopIContainer {
              background: #d1d1d1;
            }
          }
          .ThirdItem {
            position: absolute;
            left: 12px;
            bottom: 12px;
            z-index: 198;

            .TopIContainer {
              background: #e9e9e9;
            }
          }
        }
      }

      .SingleIContainer {
        width: 174px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;

        .TopIContainer {
          top: 0;
          position: absolute;
          background: linear-gradient(53.13deg, #e2007f 3.12%, #1e4ced 92.85%);
          border-radius: 7px 7px 0px 0px;
          width: 100%;
          height: 174px;
        }

        .MiddleCircle {
          position: absolute;
          bottom: 0.1px;
          z-index: 10;
        }

        .BottomIContainer {
          background: #ffffff;
          box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.1);
          border-radius: 7px 7px 0px 0px;
          transform: rotate(-180deg);
          width: 100%;
          height: 51px;
          position: absolute;
          bottom: 0;
        }
      }

      .HorizontalLine {
        margin-top: 32px;
        margin-bottom: 15px;
        background: #d1d1d1;
        width: 174px;
        margin-right: auto;
        height: 3px;
      }

      .TypePhrase {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height */
        text-align: center;
        /* tetx sub */
        color: #d1d1d1;
      }

      .HiglightedCol {
        color: #1f1f1f;
      }

      .Higlighted {
        background: #ff006b;
      }
    }

    .UploadLogo {
      width: 140px;
      height: 140px;
      border-radius: 50%;

      & > div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #d5dadd;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        .ClearLogo {
          position: absolute;
          right: 15%;
          top: 15%;
          z-index: 10;
          color: #ff006b;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-weight: bold;
          font-size: 25px;
        }
      }
    }

    .InputHolder {
      display: flex;
      flex-direction: column;

      .Label {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        margin-left: 10px;
        color: #1f1f1f;
        margin-bottom: 5px;
        display: inline;

        .LabelSpan {
          color: red;
        }
      }

      .LagInfo {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        color: #7d8890;
        margin-left: 15px;
        margin-top: 9px;
      }
    }

    .CollectionName {
      margin-top: 40px;
    }
    .CollectionSymbol {
      margin-top: 30px;
    }

    .BtnErrorContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Btn {
        margin: auto;
        margin-top: 70px;
        width: 180px;
        height: 55px;
        background: #dedede;
        border-radius: 7px;
        border: none;
  
        &:hover {
          background: colors.$gradient_pink2blue;
          box-shadow: 8px 8px 25px 6px rgba(0, 0, 0, 0.1);
          border-radius: 7px;
        }
      }
  
      .ErrorPhrase {
        font-style: normal;
        @include fontError;
        text-align: center;
        color: #db0027;
        margin-top: 13px;
      }
    }
  }
}
.IconContainer {
  display: none;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
