@use '/src/scss/colors';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import '/src/styles/fonts';

html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  user-select: none;
}

.slick-slider {
  width: 100%;
}

.hero .slick-dots {
  bottom: -42px;
}

.slick-dots li {
  width: 35px;
  height: 3px;
  background: #dedede;
}

.slick-dots li.slick-active {
  background: #ff006b;
}

.slick-dots li button::before {
  display: none;
}

.collections .slick-arrow {
  color: colors.$text;
  z-index: 13;
  width: 30px;
  height: 30px;
  padding: 8px;
  border: 1px solid colors.$text;
  border-radius: 50%;
}

.collections .slick-prev {
  left: -50px;
}

.collections .slick-dots {
  bottom: -65px;
}

.collections .slick-next {
  right: -50px;
}

.hero .slick-arrow {
  color: white;
  z-index: 13;
}

.hero .slick-prev {
  left: 0;
}

.hero .slick-next {
  right: 0;
}

#__range-picker-container {
  .calendar {
    z-index: 13;
  }
}

#nprogress .bar {
  background: #ff006b !important;
}

#nprogress .spinner {
  display: none;
}

.date-picker-app-wrapper {
  width: 100%;
  z-index: 13;

  .default-placeholder {
    padding: 14px 15px;
    border-radius: 7px;
    border-color: colors.$placeholder;

    &:focus,
    &:hover {
      box-shadow: -1px 1px 16px 7px rgba(0, 0, 0, 0.06);
    }

    .text {
      @include fontBodyXS;
      font-weight: 400;
      color: #1f1f1f;
    }

    .icon {
      border-color: gray;

      .dot {
        background-color: gray;
        border-color: gray;
      }
    }
  }
}

.toast_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toast_message {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.toast_dismiss-btn {
  cursor: pointer;
  margin-left: 20px;
}

.toast_dismiss-btn {
  width: 30px;
  height: 30px;
  color: #fff;
}
div[role='status'] {
  margin-right: 0;
}

.flip-countdown {
  display: flex;
  margin: 0 !important;

  .flip-countdown-piece {
    display: flex !important;
    flex-direction: column-reverse;

    .flip-countdown-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background: colors.$lightGreyBg;
      border-radius: 7px;
      width: 45px;
      height: 45px;
      margin: 0 3px;

      .flip-countdown-card-sec {
        box-shadow: none !important;

        .card__bottom,
        .card__top,
        .card__back {
          width: 12px;
        }

        .card__bottom,
        .card__top {
          background-color: colors.$lightGreyBg !important;
          color: #1f1f1f !important;
          border-bottom: none !important;
          @include fontBodyXXL;
          font-weight: 600;
        }
        .card__back {
          color: #1f1f1f !important;
        }

        .card__bottom {
          top: 44% !important;
        }
      }
    }

    .flip-countdown-title {
      text-align: center;
      @include fontBodyXSS; /* identical to box height */
      font-weight: 500 !important;
      margin: 2px 3px;

      color: colors.$text;
    }
  }
}

.flip-countdown.theme-light
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__top,
.flip-countdown.theme-light
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__bottom,
.flip-countdown.theme-light
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__back::before,
.flip-countdown.theme-light
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__back::after {
  color: #1f1f1f !important;
  @include fontBodyXXL;
  font-weight: 600;
}
