@use '/src/scss/colors';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  user-select: none;
}

.slick-dots li {
  width: 35px;
  height: 3px;
  background: #dedede;
}

.slick-dots li.slick-active {
  background: #ff006b;
}

.slick-dots li button::before {
  display: none;
}

.hero .slick-arrow {
  color: white;
  z-index: 13;
}

.hero .slick-prev {
  left: 0;
}

.hero .slick-next {
  right: 0;
}
