$primary: #ff006b;
$primary-hover: #005fc4;
$grey: #6e8bb7;
$borders: #e5e9eb;
$page-background: #e0eeff;
$bg-color: #e2e2e2;
$whiteBg: #ffffff;
$errorColor: #db0027;
$greyBg: #1f1f1f;
$lightGreyBg: #ededed;
$success: rgba(43, 190, 172, 1);
$text: #7d8890;
$textColor1: #1f1f1f;
$icon: #d1d1d1;
$gradient_pink2blue: linear-gradient(91.78deg, #e2007f 4.92%, #1e4ced 95.68%);
$placeholder: #dedede;
$gradient_pink2blue: linear-gradient(91.78deg, #e2007f 4.92%, #1e4ced 95.68%);
$gradient_blue2pink: linear-gradient(91.78deg, #e2007f 4.92%, #1e4ced 95.68%);
