.Container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  .TopSide {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .LeftSide {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .LeftTitle {
        font-weight: bold;
        font-size: 1.5rem;
      }

      div {
        .DropZone {
          width: 100%;

          .PrevImg {
            width: 220px;
            height: 164px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            position: relative;

            .InvalidType {
              text-align: center;
              color: red;
              font-size: 12px;
            }

            img {
              width: 100%;
              height: 100%;
            }

            .RemoveBtn {
              position: absolute;
              top: 5px;
              z-index: 10;
              color: white;
              background-color: rgb(73, 73, 73);
              border-radius: 50%;
              width: 2rem;
              height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              right: 15px;
              font-size: 1.5rem;
              cursor: pointer;
              box-shadow: white;
            }
          }
        }
      }
    }

    .RightSide {
      .RightTitle {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }

  .BottomSide {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;

    .TermsAgreement {
      display: flex;
      align-items: center;
      gap: 10px;

      .CheckBox {
        width: 30px;
        height: 30px;
        background-color: rgb(241, 241, 241);
        border: 1px solid black;
        cursor: pointer;
      }
    }

    button {
      border-radius: 10px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      cursor: pointer;
      width: 15%;
      color: grey;
      padding: 5px;
    }

    .CheckedBtn {
      background-color: rgb(74, 74, 255);
      color: white;
    }

    .Error {
      color: rgb(255, 0, 0);
    }

    .MintTxt {
      width: 70%;
      text-align: center;
    }
  }

}

.IconContainer {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  img {
    width: 70%;
    height: 70%;
  }
}
