@use '/src/scss/colors';

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px;
  height: 90vh;
  overflow-y: auto;

  .title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;

    .formArea {
      display: flex;
      margin: 0 auto;
      min-height: 30vh;
      align-items: flex-start;
      width: 100%;

      .wallets {
        margin: auto 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        h2 {
          @media (max-width: 600px) {
            margin-bottom: 20px;
            font-weight: 700;
          }
        }

        p {
          color: colors.$text;
        }

        ul {
          list-style: none;
          margin: 50px 0;
          padding: 0;

          @media (max-width: 600px) {
            width: 100%;
          }

          li {
            position: relative;
            z-index: 2;
            width: 750px;
            transition: all 0.4s ease-in-out;

            @media (max-width: 600px) {
              width: 100%;
            }

            p {
              color: colors.$text;
              transition: all 0.4s ease-in-out;
            }

            .content {
              padding: 10px 15px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: #fff;
              border-radius: 7px;
              cursor: pointer;
            }

            .overlay {
              position: absolute;
              z-index: -2;
              top: -1px;
              left: -1px;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              background: #dedede;
              border-radius: 7px;
              transition: all 0.4s ease-in-out;
            }

            &:hover {
              box-shadow: 8px 8px 25px 6px rgba(0, 0, 0, 0.1);

              .overlay {
                background: linear-gradient(
                  91.78deg,
                  #e2007f 4.92%,
                  #1e4ced 95.68%
                );
              }

              p {
                color: colors.$primary;
              }
              .info {
                img {
                  transform: scale(1.1);
                }
              }
            }
            &:first-child {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }
            // &:last-child {
            //   border-top-color: transparent;
            //   border-bottom-left-radius: 4px;
            //   border-bottom-right-radius: 4px;
            // }
            .info {
              display: flex;
              align-items: center;
              img {
                transition: all 0.4s ease-in-out;
              }
              span {
                font-weight: 900;
                margin-left: 25px;
              }
            }
          }
        }
      }
      .formRow {
        .label {
          font-weight: 600;
          margin-bottom: 12px;
        }
        margin-bottom: 20px;
      }
    }

    .buttonsArea {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}

.checkboxLabel {
  color: colors.$grey;
}
