@use "/src/scss/colors";
@import "/src/styles/fonts";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 180px;

  .FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;

    .Title {
      height: 60px;
      font-style: normal;
      @include fontTitle;
      text-align: center;
      color: colors.$textColor1;
      margin-bottom: 68px;
    }

    .ModeContainer {
      display: flex;
      gap: 92px;
      margin-bottom: 70px;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & :nth-child(1) {
          font-weight: bold;
        }
      }

      .SingleMode {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 18px;
      }

      .MultipleMode {
        .MultipleModeContainer {
          position: relative;
          width: 192px;
          height: 243px;

          .FirstItem {
            position: absolute;
            z-index: 200;
            bottom: 0;
            left: 0;

            .TopIContainer {
              background: linear-gradient(
                171.69deg,
                #ff006b 16.37%,
                #1e4ced 89.07%
              );
            }
          }
          .SecondItem {
            z-index: 199;
            position: absolute;
            left: 6px;
            bottom: 6px;

            .TopIContainer {
              background: #d1d1d1;
            }
          }
          .ThirdItem {
            position: absolute;
            left: 12px;
            bottom: 12px;
            z-index: 198;

            .TopIContainer {
              background: #e9e9e9;
            }
          }
        }
      }

      .SingleIContainer {
        width: 174px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;

        .TopIContainer {
          top: 0;
          position: absolute;
          background: linear-gradient(53.13deg, #e2007f 3.12%, #1e4ced 92.85%);
          border-radius: 7px 7px 0px 0px;
          width: 100%;
          height: 174px;
        }

        .MiddleCircle {
          position: absolute;
          bottom: 0.1px;
          z-index: 10;
        }

        .BottomIContainer {
          background: colors.$whiteBg;
          box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.1);
          border-radius: 7px 7px 0px 0px;
          transform: rotate(-180deg);
          width: 100%;
          height: 51px;
          position: absolute;
          bottom: 0;
        }

        &:hover {
          box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.2);
        }
      }

      .ClickShadow {
        box-shadow: 5px 5px 52px 2px rgba(0, 0, 0, 0.2);
      }

      .HorizontalLine {
        margin-top: 32px;
        margin-bottom: 15px;
        background: colors.$icon;
        width: 174px;
        margin-right: auto;
        height: 3px;
      }

      .TypePhrase {
        font-style: normal;
        @include fontTypePhrase;
        text-align: center;
        color: colors.$icon;
      }

      .HiglightedCol {
        color: colors.$textColor1;
      }

      .Higlighted {
        background: colors.$primary;
      }
    }

    .UploadLogo {
      width: 140px;
      height: 140px;
      border-radius: 50%;

      & > div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed colors.$dropzoneMain;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        .ClearLogo {
          position: absolute;
          right: 15%;
          top: 15%;
          z-index: 10;
          color: colors.$primary;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-weight: bold;
          font-size: 25px;
        }
      }
    }

    .InputHolder {
      display: flex;
      flex-direction: column;

      .Label {
        font-style: normal;
        @include fontLabel;
        margin-left: 10px;
        color: colors.$textColor1;
        margin-bottom: 5px;
        display: inline;

        .LabelSpan {
          color: colors.$errorColor;
        }
      }

      .LagInfo {
        font-style: normal;
        @include fontLagInfo;
        color: #7d8890;
        margin-left: 15px;
        margin-top: 9px;
      }
    }

    .CollectionName {
      margin-top: 40px;
    }
    .CollectionSymbol {
      margin-top: 30px;
    }

    .BtnErrorContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .Btn {
        margin: auto;
        margin-top: 70px;
        width: 180px;
        height: 55px;
        background: colors.$primary;
        border-radius: 7px;
        border: none;
        @include fontLabel;
        line-height: 0px;
        text-align: center;
        color: colors.$whiteBg;

        .SpinningIcon {
          margin-top: 3px;
          animation: spin 1.1s linear infinite;
        }

        &:hover {
          box-shadow: 8px 8px 25px 6px rgba(0, 0, 0, 0.1);
        }
      }

      .ErrorPhrase {
        font-style: normal;
        @include fontError;
        text-align: center;
        color: colors.$errorColor;
        margin-top: 13px;
      }
    }
  }
}
.IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 67px;
  margin-bottom: 58px;
}

.ProcessTitle {
  font-style: normal;
  @include fontProcessTitle;
  text-align: center;
  color: colors.$textColor1;
  height: 33px;
  margin-top: 46px;
}

.ProcessDesc {
  width: 396px;
  height: 69px;
  font-style: normal;
  @include fontProcessDesc;
  text-align: center;
  color: colors.$textColor1;
  margin: auto;
  margin-top: 10px;

  .MainDesc {
    color: colors.$primary;
  }
}
